@charset "utf-8";

@import "destyle.scss";
@import "variables.scss";

html {
  font-size: 100%;
}

body {
  background-color: $baseColor;
  color: $white;
  font-size: 1.2rem;
  font-weight: bold;
}

.app {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
